pre.wp-block-preformatted {
  overflow-x: auto;
  white-space: pre;
}

.front-page {
  &--splash {
    max-width: var(--responsive--alignwide-width);
    display: grid;
    grid-template-rows: auto 8rem auto auto;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
    width: var(--responsive--alignwide-width);
    &--two-blocks {
      grid-column: 4 / span 2;
      grid-row: 1;
      width: 91.5%;
      justify-self: end;
      z-index: -1;
    }
    &--centennial-logo {
      grid-column: 6 / span 3;
      grid-row: 1 / span 2;
    }
    &--blue-block {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
    }
    &--headings {
      grid-column: 3 / span 6;
      grid-row: 2 / span 2;
    }
    &--branding {
      grid-column: 3 / span 6;
      grid-row: 4;
    }
  }
}
